<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #text {
            color: skyblue;
        }
    </style>
</head>

<body>
    <span> नमस्ते <%-data.name%> जी,</span><br>
    <span>चिड़िया चोंच भर ले गई, नदी न घट्यो नीर ।</span><br>
    <span>दान दिए न धन घटे, कह गए संत कबीर ।।</span><br><br>



    <p>हेल्प ए मिशन संस्था आप सभी सहयोगकर्ता के सहयोग से ही चल रही है। आपका सहयोग हमें प्रत्येक वर्ष दिनांक
        <%-data.nextDueDate%> को निरंतर मिलता रहा है। संस्था को इस वर्ष भी आपसे वार्षिक सहयोग की कामना है । कृपया आप
            वार्षिक सहयोग राशी को जल्द से जल्द संस्था के पास जमा करवाने का कष्ट करें ताकि आपके सहयोग से किसी असहाय मरीज
            का जीवन बचाया जा सके।
    </p>
    <br>

    <span id="text"> Help-A Mission Welfare Society ,Jind </span>
</body>

</html>