<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>
        नमस्ते <%=data.memberData.name%> जी,
            <br>
            Help-A Mission को इस वर्ष की तय राशि जमा करवाने पर आपका बहुत बहुत धन्यवाद और आभार| हम आपका समर्थन पाकर
            रोमांचित हैं। आपके दान के माध्यम से हम अपने लक्ष्य को पूरा करने में सक्षम होंगे और अपने मक्सद की दिशा में
            काम करना जारी रखेंगे| आप वास्तव में हमारे लिए फ़िक्र करते हैं, और हम आपके बहुत आभारी हैं!
            <br>
            सादर<br>
            Help-A Mission Welfare Society
    </p>
</body>

</html>