<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Hey! <%data.name%>
        <br>
        You are Successfully Registered with Help-A Mission.
        Your Email is <%=data.email%> and
            Your password is <%=data.normalPassword%>
                <br>
                regards
                <br>
                Help-A Mission Welfare Society.
</body>

</html>