<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #text {
            color: skyblue;
        }
    </style>
</head>

<body>
    <span>नमस्कार <%-data.visitorData.name%> जी,</span> <br>
    <p>Help-A Mission संस्था में <%-data.donationData.amount%>/- का योगदान देने का हार्दिक धन्यवाद। हम आपके इस पुण्य
            सहयोग के आभारी
            हैं। आपके सहयोग
            से हम अपने लक्ष्य को पूरा करने में सक्षम होंगे व हर जरूरतमंद की सहायता उद्देश्य की दिशा में काम करना जारी
            रखेंगे।
            आशा है आपका सहयोग भविष्य में भी इसी भांति मिलता रहेगा।</p>
    <br>
    <span id="text">Help a mission Welfare society, Jind</span>
</body>

</html>