<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>
        नमस्ते <%=data.name%> जी,
            <br>
            Help-A Mission की ओर से, हम कृतज्ञतापूर्वक आपके व्हीलचेयर अनुरोध को स्वीकार करते हैं साख फिर से, हमारी
            संस्था से
            मदद लेने के लिए धन्यवाद। आगे की सहायता के लिए आप 8xxxxxxxxx पर xxxx जी से संपर्क कर सकते है|
    </p>
</body>

</html>