<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #text {
            color: skyblue;
        }
    </style>
</head>

<body>

    <span>नमस्कार karan chugh जी,</span><br>
    <span>आपने हेल्प ए मिशन संस्था के पास व्हीलचेयर के लिए अनुरोध किया है जिसे संस्था द्वारा विनम्रता से स्वीकार कर लिया
        गया
        है।</span><br>
    व्हीलचेयर प्राप्त करने के लिए संस्था के पदाधिकारी से संपर्क करें:
    <b>+919416178439</b>
    <br>
    <span>नोट: कृपया व्हीलचेयर की उपयोगिता समाप्त होते ही संस्था कार्यालय में जमा करवाने का कष्ट करें ताकि अन्य जरूरतमंद
        के
        काम आ सके..</span>
    <br>

    <span id="text">Help a mission Welfare society, Jind</span>
</body>

</html>