<!-- component -->
<div class="relative flex items-top justify-center bg-white sm:items-center sm:pt-0">
    <div class="w-full mx-auto sm:px-6 lg:px-8">
        <div class="mt-2 overflow-hidden">
            <div class="flex text-4xl mb-5 justify-center font-extralight items-center">
                Request for Chairs
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2">
                <div class="col-span-1 mx-3 bg-gray-100 rounded-xl">
                    <img class="rounded-xl h-full w-full"
                        src="https://images.unsplash.com/photo-1565615833231-e8c91a38a012?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2hlZWwlMjBjaGFpcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"
                        alt="" srcset="">
                </div>


                <div class="col-span-1">
                    <form method="post" action="/visitor/getwheelchair" class="p-6  flex flex-col justify-center">
                        <div class="flex flex-col">
                            <label for="name" class="hidden">Full Name</label>
                            <input type="name" name="name" placeholder="Full Name"
                                class="w-100 mt-2 py-3 px-3 rounded-lg bg-white border border-gray-400 font-semibold focus:border-indigo-500 focus:outline-none">
                        </div>

                        <div class="flex flex-col mt-2">
                            <label for="email" class="hidden">Email</label>
                            <input type="email" name="email" placeholder="Email"
                                class="w-100 mt-2 py-3 px-3 rounded-lg bg-white  border-gray-400 font-semibold focus:border-indigo-500 focus:outline-none">
                        </div>

                        <div class="flex flex-col mt-2">
                            <label for="tel" class="hidden">Number</label>
                            <input type="tel" name="contact" placeholder="Contact"
                                class="w-100 mt-2 py-3 px-3 rounded-lg bg-white border border-gray-400  font-semibold focus:border-indigo-500 focus:outline-none">
                        </div>
                        <div class="flex flex-col mt-2">
                            <label for="address" class="hidden">Address</label>
                            <input type="address" name="address" placeholder="Address"
                                class="w-100 mt-2 py-3 px-3 rounded-lg bg-white border border-gray-400  font-semibold focus:border-indigo-500 focus:outline-none">
                        </div>

                        <button type="submit"
                            class="md:w-32 bg-indigo-600 hover:bg-blue-dark text-white font-bold py-3 px-6 rounded-lg mt-3 hover:bg-indigo-500 transition ease-in-out duration-300">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>