<div class="absolute right-0 z-20 mb-2 w-full">
    <div class="mx-auto flex justify-center sm:justify-end">
        <!--code for notification starts-->
        <div role="alert"
            class="sm:mr-6 hidden xl:w-5/12 mx-auto left-0 sm:left-auto right-0 sm:w-6/12 md:w-3/5 justify-between w-11/12 bg-white shadow-lg rounded  sm:flex-row flex-col transition duration-150 ease-in-out"
            id="notification">
            <div id="notification-content"
                class="sm:px-6 p-2 flex mt-4 sm:mt-0 ml-4 sm:ml-0 items-center justify-center bg-green-700 sm:rounded-tl sm:rounded-bl w-12 h-12 sm:h-auto sm:w-auto text-black">
                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/coloured_multiple_with_separator-svg1.svg"
                    alt="check icon" />
            </div>
            <div class="flex flex-col text-black justify-center xl:-ml-4 pl-4 xl:pl-1 sm:w-3/5 pt-4 sm:pb-4 pb-2">
                <h1 id="payment-message" class="text-lg font-semibold pb-1">Payment Successful</h1>
                <p class="text-sm  font-normal">Thank supporting us an invoice will be send to your email.</p>
            </div>
            <div
                class="flex sm:flex-col sm:justify-center sm:border-l dark:border-gray-700 items-center border-gray-300 sm:w-1/6 pl-4 sm:pl-0">
                <a href="javascript:void(0)" class="sm:pt-4 pb-4 flex sm:justify-center w-full cursor-pointer"
                    onclick="closeModal()">
                    <span class="sm:text-sm text-xs text-black cursor-pointer">Dismiss</span>
                </a>
            </div>
        </div>
        <!--code for notification ends-->
    </div>
</div>



<!-- component -->
<div class="relative flex items-top justify-center bg-white sm:items-center sm:pt-0">
    <div class="w-full mx-auto sm:px-6 lg:px-8">
        <div class="mt-2 overflow-hidden">
            <div class="flex text-4xl mb-5 justify-center font-extralight items-center">
                Request for Chairs
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2">
                <div class="col-span-1 mx-3 bg-gray-100 rounded-xl">
                    <img class="rounded-xl h-full w-full"
                        src="https://images.unsplash.com/photo-1565615833231-e8c91a38a012?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2hlZWwlMjBjaGFpcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"
                        alt="" srcset="">
                </div>


                <div class="col-span-1">
                    <form onsubmit="formHandler()" class="p-6  flex flex-col justify-center">
                        <div class="flex flex-col mt-2">
                            <label for="name" class="hidden">Full Name</label>
                            <input id="rname" type="name" name="name" placeholder="Full Name"
                                class="w-100 mt-2 py-3 px-3 rounded-lg bg-white border border-gray-400 font-semibold focus:border-indigo-500 focus:outline-none">
                        </div>
                        <div class="flex flex-col mt-2">
                            <label for="email" class="hidden">Email</label>
                            <input id="remail" type="email" name="email" placeholder="Email"
                                class="w-100 mt-2 py-3 px-3 rounded-lg bg-white  border-gray-400 font-semibold focus:border-indigo-500 focus:outline-none">
                        </div>

                        <div class="flex flex-col mt-2">
                            <label for="tel" class="hidden">Number</label>
                            <input id="rcontact" type="tel" name="contact" placeholder="Contact"
                                class="w-100 mt-2 py-3 px-3 rounded-lg bg-white border border-gray-400  font-semibold focus:border-indigo-500 focus:outline-none">
                        </div>
                        <div class="flex flex-col mt-2">
                            <label for="address" class="hidden">Address</label>
                            <input id="raddress" type="address" name="address" placeholder="Address"
                                class="w-100 mt-2 py-3 px-3 rounded-lg bg-white border border-gray-400  font-semibold focus:border-indigo-500 focus:outline-none">
                        </div>

                        <button type="submit"
                            class="md:w-32 bg-indigo-600 hover:bg-blue-dark text-white font-bold py-3 px-6 rounded-lg mt-3 hover:bg-indigo-500 transition ease-in-out duration-300">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    function displayNotification(msg) {
        console.log('in notification function');
        if (msg == "success") {
            document.getElementById("notification-content").style.backgroundColor = "green";
        } else {
            document.getElementById("notification-content").style.backgroundColor = "red";
            document.getElementById("payment-message").innerHTML = "Payment Failed";
        }
        let Notification = document.getElementById("notification");
        Notification.classList.remove("hidden");
        Notification.classList.add("flex");
        Notification.style.transform = "translateX(0%)";
        console.log('showed notification');
        setTimeout(closeModal, 3000);
    }
    function closeModal() {
        let Notification = document.getElementById("notification");
        Notification.style.transform = "translateX(150%)";
        Notification.classList.remove("hidden");
    }
    const formHandler = async () => {
        showTopLoader();
        event.preventDefault();
        const name = document.getElementById('rname').value;
        const email = document.getElementById('remail').value;
        const contact = document.getElementById('rcontact').value;
        const address = document.getElementById('raddress').value;
        const vdata = {
            name, email, contact, address
        }
        console.log('data is ', name, email, contact, address);
        let responseData = await fetch('/visitor/getwheelchair', {
            method: 'POST',
            headers: {
                'Content-type': 'application/json'
            },
            body: JSON.stringify(vdata)
        });
        let data = await responseData.json();
        console.log('response is ', data.status);
        if (data.status == true) {
            console.log('calling notification');
            displayNotification('success');
        }
        hideTopLoader();
        document.getElementById('rname').value = "";
        document.getElementById('remail').value = "";
        document.getElementById('rcontact').value = "";
        document.getElementById('raddress').value = "";
        // location.reload();
        return;
    }
</script>