<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@iconscout/unicons@3.0.6/css/line.css">


<footer class="bg-black pt-10 sm:mt-10 ">
    <div class="max-w-6xl m-auto text-white flex flex-wrap justify-left">
        <!-- Col-1 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                Site Map
            </div>

            <!-- Links -->
            <a href="/#workSection"
                class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Our Works
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Team
            </a>
        </div>

        <!-- Col-2 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                Requests
            </div>

            <!-- Links -->
            <a href="/#donationBox"
                class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Donate Now
            </a>
            <a href="/#wheelchairSection"
                class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Wheelchair Request
            </a>
            <span class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Contact - +919416178439
            </span>

        </div>

        <!-- Col-3 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                Links
            </div>

            <!-- Links -->
            <a href="/member" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Member Panel
            </a>
            <a href="/admin" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Admin Panel
            </a>

        </div>

        <!-- Col-3 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 font-medium mb-6">
                Community
            </div>

            <!-- Links -->
            <a href="https://www.facebook.com/HelpaMissionWelfareSociety"
                class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Facebook
            </a>
            <!-- <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                Discord
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                website
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
                YouTube
            </a> -->
        </div>
    </div>

    <!-- Copyright Bar -->
    <div class="pt-2">
        <div class="flex pb-5 px-3 m-auto pt-5 
            border-t border-gray-500 text-gray-400 text-sm 
            flex-col md:flex-row max-w-6xl align-middle justify-center">
            <div class="mt-2 align-middle">
                © Copyright 2022-2023. All Rights Reserved.
            </div>


        </div>
    </div>
</footer>