<link rel="stylesheet" href="styles/style.css">

<div id="donate-button-fixed"
    class="cursor-pointer px-4 py-3 z-100 bg-black rounded-xl text-white font-semibold fixed bottom-4 right-4">
    <a href="#donationBox">Donate</a>
</div>
<div id="work-button-fixed"
    class="cursor-pointer px-4 py-3 z-100 bg-amber-200 rounded-xl text-black font-semibold fixed bottom-20 right-4"><a
        href="#workSection">Work</a>
</div>
<style>
    #donate-button-fixed {
        z-index: 1000;
    }

    #work-button-fixed {
        z-index: 1000;
    }
</style>

<div class=" bg-white border-b-2 border-red-700">
    <nav class="2xl:container 2xl:mx-auto sm:py-6 sm:px-7 py-5 px-4">
        <!-- For large and Medium-sized Screen -->
        <div class="flex justify-between ">
            <div class="hidden sm:flex flex-row items-center space-x-6">
                <img class=" focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer"
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/header-3-svg1.svg" alt="twitter" />
                <img class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer"
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/header-3-svg2.svg" alt="facebook" />
                <img class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer"
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/header-3-svg3.svg" alt="linkdin" />
                <img class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer"
                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/header-3-svg4.svg" alt="instagram" />
            </div>
            <div class=" flex space-x-3 items-center">
                <img src="assets/logo-light.png" class="block md:hidden" style="height: 50px;width: 50px;"
                    alt="circle" />
                <div class="hidden md:flex">
                    <h1 class="font-bold text-2xl lg:text-3xl leading-6 text-gray-800">Help A Mission Welfare
                        Society</h1>
                </div>
                <div class="flex md:hidden">
                    <h1 class="font-bold md:hidden text-3xl lg:text-4xl leading-6 text-gray-800">Help A Mission</h1>
                </div>
            </div>
            <div class="hidden sm:flex flex-row space-x-4">
                <a href="/team">
                    <button
                        class="rounded-md flex space-x-2 w-24 h-10 font-normal text-sm leading-3 text-red-700 bg-white border border-red-700 focus:outline-none focus:bg-gray-200 hover:bg-gray-200 duration-150 justify-center items-center">Our
                        Team</button></a>
                <a href="/#donationBox">
                    <button
                        class="rounded-md flex space-x-2 w-24 h-10 font-normal text-sm leading-3 text-white bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-700 focus:bg-red-600 hover:bg-red-600 duration-150 justify-center items-center">Donate</button>
                </a>
            </div>

            <!-- Burger Icon -->
            <div id="bgIcon" onclick="toggleMenu()"
                class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800  flex justify-center items-center sm:hidden cursor-pointer">
                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/header-3-svg6.svg" alt="burger" />
                <img class=" hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/header-3-svg7.svg"
                    alt="cross" />
            </div>
        </div>

        <!-- Mobile and small-screen devices (toggle Menu) -->
        <div id="MobileNavigation" class="hidden sm:hidden mt-4 mx-auto">
            <div class="flex flex-row items-center justify-center space-x-6">
                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/header-3-svg1.svg" alt="twitter" />
                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/header-3-svg2.svg" alt="facebook" />
                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/header-3-svg3.svg" alt="linkdin" />
                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/header-3-svg4.svg" alt="instagram" />
            </div>
            <div class="flex flex-col gap-4 mt-4 w-80 mx-auto ">
                <button
                    class="rounded-md flex space-x-2 w-full h-10 font-normal text-sm leading-3 text-red-700 bg-red-600 bg-opacity-0 hover:opacity-100 duration-100 border border-red-700 focus:outline-none focus:bg-gray-200 hover:bg-gray-200 justify-center items-center">Our
                    Work</button>
                <button
                    class="rounded-md flex space-x-2 w-full h-10 font-normal text-sm leading-3 text-white bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-700 focus:bg-red-600 hover:bg-red-600 duration-150 justify-center items-center">Donate</button>
            </div>
        </div>
    </nav>
</div>

<script>
    function toggleMenu() {
        var x = document.getElementById("MobileNavigation");
        if (x.className === "hidden sm:hidden") {
            x.className = "flex block sm:hidden flex-col gap-4 mt-4 w-80 mx-auto";
        } else {
            x.className = "hidden sm:hidden";
        }
    }
</script>