<div class="p-4 grid grid-cols-1 md:grid-cols-2">
    <div class="col-span-1 block md:hidden p-4">
        <div class="w-full rounded-lg overflow-hidden">
            <img src="assets/websitetop.jpeg" class="h-full" alt="" srcset="">
        </div>
    </div>
    <div class="flex md:text-xl text-black 2xl:text-3xl font-extralight flex-col col-span-1 p-3 pt-6">
        <h1 class="text-5xl text-red-700 font-extrabold mb-6">Our Mission</h1>
        <%-data.missionContentData%>
    </div>
    <div class="col-span-1 md:flex justify-center items-center hidden p-4">
        <div id="changing-image" class="w-full rounded-lg overflow-hidden">
            <img src="assets/websitetop.jpeg" class="h-full" alt="" srcset="">
        </div>
    </div>
</div>



<script>
    let imagesarray = '<%- JSON.stringify(data.missionImagesData) %>';
    imagesarray = JSON.parse(imagesarray)
    console.log(imagesarray);
    const changeImageAfterFiveSeconds = () => {
        setInterval(() => {
            document.getElementById('changing-image').innerHTML = `<img src="${imagesarray[Math.floor(Math.random() * imagesarray.length)]}" class="h-full" alt="" srcset="">`;
        }, 5000);
    }
    changeImageAfterFiveSeconds();
</script>


<!-- <div class="w-full px-4">
    <div class="mt-8 relative opacity-80 rounded-lg container mx-auto flex flex-col items-center pt-12 sm:pt-24 pb-24 sm:pb-32 md:pb-48 lg:pb-56 xl:pb-64"
        style="background-image: url('https://images.unsplash.com/photo-1615461066159-fea0960485d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2216&q=80');">

        <div class="flex justify-center items-center mt-20 flex-col">
            <div class="w-11/12 sm:w-2/3 ">
                <h1
                    class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-center text-red-700 font-bold leading-tight">
                    Join Your Hands In Our Mission</h1>
            </div>
            <div class="flex justify-center mt-10 items-center">
                <a href="#donationBox">
                    <button
                        class="hover:text-white hover:bg-transparent lg:text-xl hover:border-white border bg-white transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 ring-offset-red-700	focus:ring-white rounded text-red-700 px-4 sm:px-8 py-1 sm:py-3 text-sm">Donate</button>
                </a>
                <a href="#workSection">
                    <button
                        class="hover:bg-white hover:text-red-600 lg:text-xl hover:border-red-600 ml-3 sm:ml-6 bg-transparent transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 ring-offset-red-700 focus:ring-white hover:bg-red-700-800 rounded border border-white text-white px-4 sm:px-8 py-1 sm:py-3 text-sm">Our
                        Work</button>
                </a>

            </div>
        </div>

    </div>
</div> -->