<div class="flex flex-shrink-0 relative w-full sm:w-auto">
    <img style="max-height: 600px;max-width: 400px;min-height: 600px;min-width: 400px;"
        src="https://images.unsplash.com/photo-1528194663420-bfa489364cb5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80"
        alt="black chair and white table" class="object-cover object-center w-full" />
    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">Hand 1
        </h2>
        <div class="flex h-full items-end pb-6">
            <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                Donate</h3>
        </div>
    </div>
</div>
<div class="flex flex-shrink-0 relative w-full sm:w-auto">
    <img style="max-height: 600px;max-width: 400px;min-height: 600px;min-width: 400px;"
        src="https://images.unsplash.com/photo-1604604892090-f8213a87669d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        alt="sitting area" class="object-cover object-center w-full" />
    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">Hand 2
        </h2>
        <div class="flex h-full items-end pb-6">
            <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                Donate</h3>
        </div>
    </div>
</div>
<div style="max-height: 600px;max-width: 400px;min-height: 600px;min-width: 400px;" class=" flex flex-shrink-0 relative
    w-full sm:w-auto">
    <img src="https://images.unsplash.com/photo-1591209814288-202f62a693d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        alt="sitting area" class="object-cover object-center w-full" />
    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">Hand 2
        </h2>
        <div class="flex h-full items-end pb-6">
            <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                Donate</h3>
        </div>
    </div>
</div>
<div style="max-height: 600px;max-width: 400px;min-height: 600px;min-width: 400px;"
    class="flex flex-shrink-0 relative w-full sm:w-auto">
    <img src="https://images.unsplash.com/photo-1528194663420-bfa489364cb5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80"
        alt="sitting area" class="object-cover object-center w-full" />
    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">Hand 2
        </h2>
        <div class="flex h-full items-end pb-6">
            <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                Donate</h3>
        </div>
    </div>
</div>
<div style="max-height: 600px;max-width: 400px;min-height: 600px;min-width: 400px;"
    class="flex flex-shrink-0 relative w-full sm:w-auto">
    <img src="https://images.unsplash.com/photo-1528194663420-bfa489364cb5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80"
        alt="sitting area" class="object-cover object-center w-full" />
    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">Hand 2
        </h2>
        <div class="flex h-full items-end pb-6">
            <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                Donate</h3>
        </div>
    </div>
</div>
<div class="flex flex-shrink-0 relative w-full sm:w-auto">
    <img style="max-height: 600px;max-width: 400px;min-height: 600px;min-width: 400px;"
        src="https://images.unsplash.com/photo-1528194663420-bfa489364cb5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80"
        alt="black chair and white table" class="object-cover object-center w-full" />
    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">Hand 1
        </h2>
        <div class="flex h-full items-end pb-6">
            <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                Donate</h3>
        </div>
    </div>
</div>
<div class="flex flex-shrink-0 relative w-full sm:w-auto">
    <img style="max-height: 600px;max-width: 400px;min-height: 600px;min-width: 400px;"
        src="https://images.unsplash.com/photo-1604604892090-f8213a87669d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        alt="sitting area" class="object-cover object-center w-full" />
    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">Hand 2
        </h2>
        <div class="flex h-full items-end pb-6">
            <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                Donate</h3>
        </div>
    </div>
</div>
<div class="flex flex-shrink-0 relative w-full sm:w-auto">
    <img style="max-height: 600px;max-width: 400px;min-height: 600px;min-width: 400px;"
        src="https://images.unsplash.com/photo-1528194663420-bfa489364cb5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80"
        alt="black chair and white table" class="object-cover object-center w-full" />
    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">Hand 1
        </h2>
        <div class="flex h-full items-end pb-6">
            <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                Donate</h3>
        </div>
    </div>
</div>
<div class="flex flex-shrink-0 relative w-full sm:w-auto">
    <img style="max-height: 600px;max-width: 400px;min-height: 600px;min-width: 400px;"
        src="https://images.unsplash.com/photo-1604604892090-f8213a87669d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        alt="sitting area" class="object-cover object-center w-full" />
    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">Hand 2
        </h2>
        <div class="flex h-full items-end pb-6">
            <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                Donate</h3>
        </div>
    </div>
</div>
<div style="max-height: 600px;max-width: 400px;min-height: 600px;min-width: 400px;" class=" flex flex-shrink-0 relative
    w-full sm:w-auto">
    <img src="https://images.unsplash.com/photo-1591209814288-202f62a693d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        alt="sitting area" class="object-cover object-center w-full" />
    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">Hand 2
        </h2>
        <div class="flex h-full items-end pb-6">
            <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                Donate</h3>
        </div>
    </div>
</div>
<div style="max-height: 600px;max-width: 400px;min-height: 600px;min-width: 400px;"
    class="flex flex-shrink-0 relative w-full sm:w-auto">
    <img src="https://images.unsplash.com/photo-1528194663420-bfa489364cb5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80"
        alt="sitting area" class="object-cover object-center w-full" />
    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">Hand 2
        </h2>
        <div class="flex h-full items-end pb-6">
            <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                Donate</h3>
        </div>
    </div>
</div>
<div style="max-height: 600px;max-width: 400px;min-height: 600px;min-width: 400px;"
    class="flex flex-shrink-0 relative w-full sm:w-auto">
    <img src="https://images.unsplash.com/photo-1528194663420-bfa489364cb5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80"
        alt="sitting area" class="object-cover object-center w-full" />
    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">Hand 2
        </h2>
        <div class="flex h-full items-end pb-6">
            <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                Donate</h3>
        </div>
    </div>
</div>
<div class="flex flex-shrink-0 relative w-full sm:w-auto">
    <img style="max-height: 600px;max-width: 400px;min-height: 600px;min-width: 400px;"
        src="https://images.unsplash.com/photo-1528194663420-bfa489364cb5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80"
        alt="black chair and white table" class="object-cover object-center w-full" />
    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">Hand 1
        </h2>
        <div class="flex h-full items-end pb-6">
            <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                Donate</h3>
        </div>
    </div>
</div>
<div class="flex flex-shrink-0 relative w-full sm:w-auto">
    <img style="max-height: 600px;max-width: 400px;min-height: 600px;min-width: 400px;"
        src="https://images.unsplash.com/photo-1604604892090-f8213a87669d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        alt="sitting area" class="object-cover object-center w-full" />
    <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
        <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">Hand 2
        </h2>
        <div class="flex h-full items-end pb-6">
            <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                Donate</h3>
        </div>
    </div>
</div>